*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler-icon{
    background-color: rgb(255, 255, 255);
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

#banner{
    color: #ffffff;
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin: 15px;
}

#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

<!------------------- Services section ------------------------>

#services{
    padding: 80px 0;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
}

<!------------------------------ About Us --------------------------->

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li{
    margin: 10px 0;
    text-align: left;
}

#about-us ul{
    margin-left: 60px;
}

<!------------------------------ Testmonials --------------------------->

#testmonials{
    margin: 100px 0;
}

.testmonials{
    border-left: 4px solid #007bff ;
    margin-top: 50px;
    margin-bottom: 50px;

}

.testmonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}

<!------------------------------ social media --------------------------->

#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{
font-size: 36px;
font-weight: 600;
margin-bottom: 30px;
font-style: italic;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
    margin-bottom: 30px;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}

<!--------------- footer section ------------------->

#footer{
    color: #f6f6f6;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.row{
    text-align: center;
    align-items: center;
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-color: rgb(6, 11, 11);
    border-radius: 20px;
    padding: 8px 25px;
}

hr{
    background-color: #fefefe;
}
.copyright{
    margin-bottom: o;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
}